{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes da {{ object.name }}</h3>
    <div class="card col-md-9">
        <div class="card-body">
            <h3 class="card-title">{{object.name}}</h3>
            <p class="card-text"><strong>Descrição:</strong></p>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text"><strong>Cadastrado em: </strong><br><i>{{object.created_at}}</i></p>
            <p class="card-text"><strong>Última atualização: </strong><br><i>{{object.updated_at}}</i></p>
        </div>
    </div>
    <a href="{% url 'brand_list' %}" class="btn btn-secondary mt-4">Voltar para lista de marcas</a>
</div>

{% endblock %}